#--- Core ML & DL ---
torch 
torchvision 
torchaudio 
torch_geometric 
scikit-learn 
tqdm 
transformers

#--- Streamlit & Viz ---
streamlit 
py3Dmol 
ipywidgets 
matplotlib 
plotly 
numpy

#--- LLM / Agentic ---

langchain 
langchain_core 
langchain_agents 
langchain_google_genai 
langchain_community

#--- Data, Molecule & API Handling ---
pandas 
rdkit 
PyYAML 
httpx 
biopython
